{% extends 'base.html' %} 

<!-- {{task.title}}  that will present the specific task title  -->
{% block title %} Edit {{task.title}} {% endblock %}

{% block content %} 
<div class="offset-1 col-10 list-div">
    <h1>Edit {{task.title}} </h1>
    <form method="POST">

        <!--in django we must add that tag,
        because that protect the site of cross site request forgery
        is a secure random token that is used to prevent CSRF attacks -->
        {% csrf_token %}

        <!-- that tag will print the form in paragraphs -->
        {{ form.as_p}}

        <input type="submit" class="btn btn-success" value="Edit Task">
    </form> 

</div>
{% endblock %}
